.backg {
  background-color: black;
}

.navbar-nav {
  padding: 10px;
  margin-right: 250px;
  font-weight: 525;
  font-size: 17px;
}

.qoot {
  background-color: white;
  padding: 11px;
  font-family: monospace;
}


.col-lg-4 {
  text-align: center;
  margin: auto;
}

.text {
  padding: 30px;
}

.rady_stranky {
  text-align: center;
  margin: auto;
  background-color: #5114A3;
}

.card {
  margin: auto;
}

.ods {
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

.a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1a8b9), color-stop(#b8a6b4), color-stop(#bda5ad), color-stop(#bfa5a6), to(#bea6a0));
  background-image: linear-gradient(to bottom, #b1a8b9, #b8a6b4, #bda5ad, #bfa5a6, #bea6a0);
  border-radius: 120px;
  margin: 5px;
  padding: 18px;
}

.e {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b1a8b9), color-stop(#b8a6b4), color-stop(#bda5ad), color-stop(#bfa5a6), to(#bea6a0));
  background-image: linear-gradient(to bottom, #b1a8b9, #b8a6b4, #bda5ad, #bfa5a6, #bea6a0);
  border-radius: 120px;
}

.mrrg {
  margin: 0px !important;
  padding: 0px !important;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.nadpis {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.qq {
  padding-bottom: 150px !important;
}

.d {
  margin-bottom: 50px;
}

.qwe {
  margin-bottom: 70px;
}

h3 {
  border-bottom-style: solid;
  border-bottom-color: black;
  font-family: monospace;
}

.abouta {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 150px;
  font-size: 60px;
  font-family: monospace;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

select {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #0b3e28;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00683b;
}

.container {
  border-radius: 5px;
  background-color: #BBA1D5;
  padding: 20px;
}

.acont {
  background-color: #BBA1D5;
}

.magi {
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: monospace;
  font-weight: bold;
}

.centered {
  border: 1px;
  height: 100px;
  position: relative;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  -webkit-filter: blur(10px) contrast(20);
          filter: blur(10px) contrast(20);
  margin-top: 100px;
}

.textt {
  font-family: monospace;
}

.rndm {
  background-image: url("https://picsum.photos/1920/941");
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.centerbut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 850px;
}

.lowerbut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.birb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pedi {
  padding: 0px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 55px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pados {
  margin-bottom: 150px;
}
/*# sourceMappingURL=style.css.map */